<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ft55_edh_how_to_make_dart_snippet_to_code_faster">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
