<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ft50_edh_selectable_text_toggle_button_color_filtered">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
